---
import BaseHead from "../components/BaseHead.astro";
import HomePageHero from "../components/HomePageHero.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BlogLatest from "../components/BlogLatest.astro";
import Menu from "../components/MenuLG.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <ViewTransitions />

  <body class="bg-slate-200">
    <main class="container mx-auto pb-0">
      <HomePageHero />
    </main>
    <section id="Menu" class="container mx-auto">
      <Menu />
    </section>
    <section id="blogLatest" class="container mx-auto pt-6">
      <BlogLatest />
    </section>
    <Footer />
    <!-- <Menu /> -->
  </body>
</html>
