---
import BaseHead from "../components/BaseHead.astro";
import Menu from "../components/newMenu.astro";
import HomePageHero from "../components/HomePageHero.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BlogLatest from "../components/BlogLatest.astro";
import MenuLG from "../components/MenuLG.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-slate-200">
    <main class="">
      <HomePageHero />
    </main>
    <section id="Menu">
      <MenuLG />
    </section>
    <section id="blogLatest">
      <BlogLatest />
    </section>
    <Footer />
    <!-- <Menu /> -->
  </body>
</html>
