---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Menu from "./Menu.astro";
---

<header class="bg-white/50 fixed pl-6 pt-4 h-20 w-screen">
  <div class="flex grow">
    <div class="flex flex-basis-0">
      <h1 class="text-2xl font-bold text-left">
        <a href="/">{SITE_TITLE}</a>
      </h1>
    </div>
    <div class="flex items-end">
      <Menu />
    </div>
  </div>
</header>
