---
import { menuItems } from "../consts";
---

<nav>
  <ul class="flex items-center gap-2">
    {
      menuItems.items.map((data) => (
        <li class="">
          <a href={data.url} class="px-4 h-10 hover:underline">
            {data.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
