---
import { menuItems } from "../consts";

import MenuButton from "./MenuButton.astro";
import MenuItem from "./MenuItem.astro";
---

<div class="relative">
  <MenuButton />
</div>
<article id="navmenu" class="absolute hidden mx-auto z-999">
  <nav class="text-baby_powder bg-jet-100/90">
    <div class="">
      {
        menuItems.items.map((data) => (
          <MenuItem name={data.name} url={data.url} />
        ))
      }
    </div>
  </nav>
</article>
