---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;
---

<div class="relative">
  <button
    id="menuButton"
    class="fixed z-20 flex border-2 rounded-lg bg-raisin_black-100 shrink-0 grow-0 justify-around
  bottom-5 right-5 border-baby_powder"
  >
    <span class="px-2 text-2xl font-bold text-baby_powder">Menu</span>
  </button>

  <script>
    const menuButton = document.getElementById("menuButton");
    menuButton!.addEventListener("click", () => {
      const navi = document.getElementById("navmenu");
      navi!.classList.toggle("hidden");
    });
  </script>
</div>
