---
const { name, url } = Astro.props;
---

<div
  class="m-4 p-2 bg-jet-100 border-2 border-baby_poweder rounded-lg justify-center items-center flex"
>
  <a href={url} class="text-2xl font-bold text-baby_powder">{name}</a>
</div>
